*
{
	margin: 0em;
    padding: 0em;
}

html
{
	height: 100%;
	font-size: 100%;
}

body
{
	font-family: Aller Light;
	font-size: 1.3em;
	padding:0;
	margin:0;
    
    color: rgb(115, 127, 136);
	background-color: #F1F1F1;
    /*background: #191919 url('../img/bg.jpg') repeat;*/
}

b
{
    font-family: Aller;
    font-weight: bold;
    
    color: rgb(77, 76, 78);
}

/*------------------------------------------------
    Header
--------------------------------------------------*/
div#header
{
    background-color: rgb(55, 53, 53);
    color: #fff;
    
    height: auto;
    
    padding: 1em 2.5em;
}

div#header div#full_header_name
{
    font-size: 2em;
    display: inline-block;
}

div#header div#full_header_name span#first_name
{
    letter-spacing: 0.05em;
}
div#header div#full_header_name span#last_name
{
    font-family: Aller;
    font-weight: bold;
}

div#header div#doc_type
{
    font-size: 2em;
    letter-spacing: 0.05em;
    
    display: inline-block;
    
    float: right;    
    color: rgb(170, 172, 174);
}

div#header div#specialty
{
    padding-top: 0.3em;
    
    color: #E6BD09;
}

/*------------------------------------------------
    Main Content
--------------------------------------------------*/
div#main_content
{
    margin-top: 2em;
    height: 100%;
}

div#main_content img.Icon
{
	margin-right: 0.5em;
	position: relative;
	top: 2px;
}

div#main_content div.Section
{
	/*padding-bottom: 2em;*/
}

div#main_content div.Section div.SectionTitle
{
    background-color: rgb(55, 53, 53);
    color: #ffffff;
    
    font-size: 1.5em;
    font-weight: lighter;
    
    padding: 0.3em 1em 0.3em 1.5em;
    display: inline-block;
    
    border-bottom-right-radius: 15px;
}

div#main_content div.Entry
{
	margin-top: 5px;
	border-bottom: 1px groove rgb(190, 192, 194);
	
	width: 100%;
}

div#main_content div.EntryLine
{
	width: 100%;
}

div#main_content div.EntryLine .LeftEntryLine
{
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 2.3em;
	
	width: 20%;
}

div#main_content div.EntryLine .RightEntryLine
{
	display: inline-block;
	padding: 0.5em 1em 0.5em 2.3em;
	
	min-width: 90%;
	max-width: 90%;
	
	color: rgb(77, 76, 78);
}

div#main_content .CurrentAtTheDate
{
	color: rgb(219, 74, 57) !important;
}

/*------------------------------------------------
    Personal Section
--------------------------------------------------*/
div#main_content div#personal
{
	float: left;
	width: 75%;
	padding-bottom: 2em;
}

div#main_content div#personal .RightEntryLine
{
	display: inline-block;
	padding: 0.5em 1em 0.5em 2.3em;
	
	min-width: 20%;
	max-width: 70%;
	
	color: rgb(77, 76, 78);
}

/*------------------------------------------------
    Photo Section
--------------------------------------------------*/
div#main_content div#photo
{
	width: 25%;
	display: inline-block;
}

div#main_content div#photo div.Entry
{
	border: 0;
	clear: both;
}

div#main_content div#photo div.EntryLine
{
	width: 230px;
	height: 350px;
	
	background-color: #ffffff;
	
	margin: 0 auto;
	padding: 5px;
	
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.1);
}

div#main_content div#photo img
{
	width: 230px;
	height: 350px;
}

div#main_content div#photo div#photo_title
{
	position: relative;
	width: 75%;
	float: right;
	
	margin-bottom: 0.5em;
	
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 15px;
}

/*------------------------------------------------
    Education Section
--------------------------------------------------*/
div#main_content div#education .Entry
{
	border: 0;
	margin: 0;
}

div#main_content div#education .LeftEntryLine
{
	width: 10%;
	
	padding-right: 0.9em;
	
	background-color: rgb(55, 53, 53);
	color: #ffffff;
	
	border-radius: 0px 3px 3px 0px;
	
	font-weight: bold;
	display: block;
}

div#main_content div#education .RightEntryLine .Description
{
	position: relative;
	
	background-color: #ffffff;
	
	margin: 0 auto;
	padding: 0.5em 1em;
	
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.1);
}

div#main_content div#education .RightEntryLine .Description .BigTitle
{
	font-size: 1.5em;
	font-weight: bold;
	
	display: inline-block;
}

div#main_content div#education .RightEntryLine .Description .LittleTitle
{
	font-size: 0.8em;
	
	border-bottom: 1px dotted rgb(102, 102, 102);
	
	padding: 0.5em 0;
	margin-bottom: 0.8em;
}

div#main_content div#education .RightEntryLine .Description .Date
{
	float: right;
	display: inline-block;
}

div#main_content div#education .RightEntryLine .Description .Detail
{
	font-size: 0.8em;
	margin-left: 0.5em;
}

/*------------------------------------------------
    Experience Section
--------------------------------------------------*/

div#main_content div#experience .Entry
{
	border: 0;
	margin: 0;
}

div#main_content div#experience .LeftEntryLine
{
	width: 10%;
	
	padding-right: 0.9em;
	
	background-color: rgb(55, 53, 53);
	color: #ffffff;
	
	border-radius: 0px 3px 3px 0px;
	
	font-weight: bold;
	display: block;
}

div#main_content div#experience .RightEntryLine .Description
{
	position: relative;
	
	background-color: #ffffff;
	
	margin: 0 auto;
	padding: 0.5em 1em;
	
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.1);
}

div#main_content div#experience .RightEntryLine .Description .BigTitle
{
	font-size: 1.5em;
	font-weight: bold;
	
	display: inline-block;
}

div#main_content div#experience .RightEntryLine .Description .LittleTitle
{
	font-size: 0.8em;
	
	border-bottom: 1px dotted rgb(102, 102, 102);
	
	padding: 1em 0 0.5em 0;
	margin-bottom: 0.8em;
}

div#main_content div#experience .RightEntryLine .Description .Date
{
	float: right;
	
	text-align: right;
	display: inline-block;
}

div#main_content div#experience .RightEntryLine .Description .Date .WebSite
{
	color: rgb(80, 167, 212);
	
	text-align: right;
	position: relative;
}

div#main_content div#experience .RightEntryLine .Description .Detail
{
	font-size: 0.8em;
	margin-left: 0.5em;
}

/*------------------------------------------------
    Tools Section
--------------------------------------------------*/

div#main_content div#tools .Entry
{
	border: 0;
	margin: 0;
}

div#main_content div#tools .LeftEntryLine
{
	width: 10%;
	
	padding-right: 0.9em;
	
	background-color: rgb(55, 53, 53);
	color: #ffffff;
	
	border-radius: 0px 3px 3px 0px;
	
	font-weight: bold;
	display: block;
}

div#main_content div#tools .RightEntryLine .Description
{
	position: relative;
	
	background-color: #ffffff;
	
	margin: 0 auto;
	padding: 0.5em 1em 0 1em;
	
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.1);
}

div#main_content div#tools .RightEntryLine .Description .BigTitle
{
	font-size: 1.2em;
	font-weight: bold;
	
	display: inline-block;
	
	border-bottom: 1px dotted rgb(102, 102, 102);
	
	padding-bottom: 0.3em;
	margin-bottom: 0.5em;
	width: 100%;
}

div#main_content div#tools .RightEntryLine .Description .LittleTitle
{
	font-size: 0.8em;
	
	padding: 0.5em 0;
	margin-left: 0.5em;
	
	border: 0;
}

div#main_content div#tools .RightEntryLine .Description .ItemsList
{
	width: 70%;
}

div#main_content div#tools .RightEntryLine .Description .ItemsList .Item
{
	padding-bottom: 0.3em;
}

div#main_content div#tools .RightEntryLine .Description .ItemsList .Item .ItemCaption
{
	display: inline-block;
}

div#main_content div#tools .RightEntryLine .Description .ItemsList .Item .ItemRank
{
	display: inline-block;
	float: right;
}

/*------------------------------------------------
    misc Section
--------------------------------------------------*/

div#main_content div#misc .Entry
{
	border: 0;
	margin: 0;
}

div#main_content div#misc .LeftEntryLine
{
	width: 10%;
	
	padding-right: 0.9em;
	
	background-color: rgb(55, 53, 53);
	color: #ffffff;
	
	border-radius: 0px 3px 3px 0px;
	
	font-weight: bold;
	display: block;
}

div#main_content div#misc .RightEntryLine .Description
{
	position: relative;
	
	background-color: #ffffff;
	
	margin: 0 auto;
	padding: 0.5em 1em 0 1em;
	
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.1);
}

div#main_content div#misc .RightEntryLine .Description .BigTitle
{
	font-size: 1.2em;
	font-weight: bold;
	
	display: inline-block;
	
	border-bottom: 1px dotted rgb(102, 102, 102);
	
	padding-bottom: 0.3em;
	margin-bottom: 0.5em;
	width: 100%;
}

div#main_content div#misc .RightEntryLine .Description .LittleTitle
{
	font-size: 0.8em;
	
	padding: 0.5em 0;
	margin-left: 0.5em;
	
	border: 0;
}

div#main_content div#misc .RightEntryLine .Description .ItemsList
{
	width: 70%;
}

div#main_content div#misc .RightEntryLine .Description .ItemsList .Item
{
	padding-bottom: 0.3em;
}

div#main_content div#misc .RightEntryLine .Description .ItemsList .Item .ItemCaption
{
	display: inline-block;
}

div#main_content div#misc .RightEntryLine .Description .ItemsList .Item .ItemRank
{
	display: inline-block;
	float: right;
}
